type batt_health, domain;
type batt_health_exec, exec_type, file_type;
init_daemon_domain(batt_health);

allow batt_health default_prop:file read;
allow batt_health self:capability { dac_override dac_read_search };
