# Allow init to mount kernel modules
allow init vendor_file:file mounton;

# Allow init to mount vendor configs
allow init vendor_configs_file:file mounton;

# Allow init to mount on vendor file type
allow init vendor_file_type:file mounton;

# Allow init to mount on exec type
allow init exec_type:file mounton;

allow init persist_file:lnk_file read;
allow init rootfs:file relabelto;
