allow system_server default_android_hwservice:hwservice_manager find;
allow system_server shal_livedisplay_default:binder call;

allow system_server sysfs:file { getattr open read };
allow system_server vendor_default_prop:file { getattr open read };
